// Theme's Palette
@import("C:/Users/幻想乡/Desktop/Github/vuepress/yjkblog/.vuepress/theme/styles/palette.styl")

// User's Palette
@import("C:/Users/幻想乡/Desktop/Github/vuepress/yjkblog/.vuepress/styles/palette.styl")